<!DOCTYPE html>
<html>
  <head>
    <title>CharacterBooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header-menu">
        <div class=header-right>
          <ul>
            <% if @current_user %>
              <li>
                <%= link_to("ログアウト","/users/logout") %>
              </li>
              <li>
                <%= link_to("キャラ作成","/create/create_form") %>
              </li>
              <li>
                <%= link_to("キャラ一覧","/users/#{@current_user.id}/user_home") %>
              </li>
            <% else %>
              <li>
                <%= link_to("新規登録","/users/signin_form") %>
              </li>
              <li>
                <%= link_to("ログイン","/users/login_form") %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="header-left">
          <% if @current_user %>
            <p>キャラクター図鑑</p>
          <% else %>
            <%= link_to("キャラクター図鑑","/top/home") %>
          <% end %>
        </div>
      </div>
    </header>
    <main>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <footer>
    
    </footer>
  </body>
</html>
